#start {
    align-items: center;
}

.start__network {
    display: flex;
}
.start__network__item {
    justify-content: space-around;
    padding-right: 15px;
}

.start__network__item:hover {
    font-weight: 800;
}

@media screen and (min-width: 1201px) {
    .start__title {
        font-weight: 900;
        font-size: 3.25rem;
        line-height: 3.8rem;
        align-self: stretch;
        padding: 1rem 0;
    }
    .start__bio {
        font-size: 1.38rem;
        padding: 1rem 0;
    }
    .start__network {
        font-size: 1rem;
    }
    .start__profile__image {
        width: 368px;
        height: 368px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .start__title {
        font-weight: 800;
        font-size: 3.25rem;
        line-height: 3.8rem;
        align-self: stretch;
        padding: 1rem 0;
    }
    .start__bio {
        font-size: 1.38rem;
        padding: 1rem 0;
    }
    .start__network {
        font-size: 1rem;
    }
    .start__profile__image {
        width: 368px;
        height: 368px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .start__title {
        font-weight: 800;
        font-size: 3.25rem;
        line-height: 3.8rem;
        align-self: stretch;
        padding: 1rem 0;
    }
    .start__bio {
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    .start__network {
        font-size: 1rem;
    }
    .start__profile__image {
        width: 276px;
        height: 276px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .start__title {
        font-weight: 800;
        font-size: 1.38rem;
        line-height: 1.63rem;
        align-self: stretch;
    }
    .start__bio {
        font-size: 1rem;
        padding: 1rem 0;
    }
    .start__network {
        font-size: 1rem;
    }
    .start__profile__image {
        width: 146px;
        height: 146px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #start {
        flex-direction: column-reverse;
    }
    .start__title {
        font-weight: 800;
        font-size: 1.38rem;
        line-height: 1.63rem;
        text-align: center;
    }
    .start__bio {
        font-size: 0.8rem;
        padding: 1rem 0;
    }
    .start__network {
        font-size: 0.8rem;
    }
    .start__profile__image {
        width: 98px;
        height: 98px;
    }
}

@media screen and (max-width: 319px) {
    #start {
        flex-direction: column-reverse;
    }
    .start__title {
        font-weight: 800;
        font-size: 1.38rem;
        line-height: 1.63rem;
        text-align: center;
    }
    .start__bio {
        font-size: 0.8rem;
        padding: 1rem 0;
    }
    .start__network {
        font-size: 0.8rem;
    }
    .start__profile__image {
        width: 98px;
        height: 98px;
    }
}