:root {
    --background-fondo-base: #F5F5F5;
    --background-gris-claro:  #EDEDED;
    --background-seccion: #EAF2FD;
    --background-blanco: #FFFFFF;

    --boton-azul: #2A7AE4;

    --background-primario-obscuro: #0288D1;
    --background-primario-claro: #B2EBF2;
    --background-primario-normal: #00BCD4;

    --background-items-normal: #FFFFFF;

    --background-color-acento-claro: #FFE082;
    --background-color-acento: #0097A7;

    --fuente-texto-primario:  #464646;
    --fuente-texto-secundario: #757575;
    --fuente-texto-iconos: #FFFFFF;

    --background-color-divisor: #BDBDBD;

    --raleway:  'Raleway', sans-serif;
    
    scroll-behavior: smooth;
}

body {
    font-family: var(--raleway);
    font-size: 16px;
    background-color: var(--background-primario-normal);
}

.btn__repo {
    color: var(--fuente-texto-primario);
    text-decoration: none;
    border: 2px solid var(--fuente-texto-primario);
    padding: 10px 20px;
    margin-right: 1rem;
    border-radius: 10px;
}

.btn__repo:hover {
    font-weight: 600;
}

.btn__demo {
    background: var(--background-primario-claro);
    color: var(--fuente-texto-primario);
    text-decoration: none;
    border: 2px solid var(--fuente-texto-primario);
    padding: 10px 30px;
    margin-right: 1rem;
    border-radius: 10px;
}

.btn__demo:hover {
    font-weight: 600;
}

.btn__up {
    display: none;
    cursor: pointer;
}

.btn__up__ver {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 8rem;
    right: 1rem;
    background-color: var(--background-color-divisor);
    border-radius: 25%;
    border-width: 1px;
    border-style: dashed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}